#outline {
  position: absolute;
  top: 0;
  bottom: 40px;
  right: 0px;
}

#outlineScrollable {
  background: green;
  width: 200px;
  height: 100%;
}

#outlineContent {
  position: absolute;
  height: auto;
	left: 0;
	right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
	margin: 30px;

  background: cyan;
  color: #F00;
}


#toggleOutlineButton {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  bottom: -40px;
}
