pubspec.lock
*.pem
packages
dist/
.svn
.DS_Store
.buildlog
.project
*.js.map
*.js.deps
app/spark.dart.js
app/spark.dart.precompiled.js
app/spark_test.dart.js
app/spark_test.dart.precompiled.js
build/
app/sdk/version
app/sdk/lib/
