.settings/
app/app.json
app/user.json
app/lib/mobile/nacl_android_rsa.nmf
app/lib/mobile/nacl_android_rsa.pexe
app/spark.dart.js
app/spark.dart.precompiled.js
app/spark_polymer.dart.js
app/spark_polymer.dart.precompiled.js
app/spark_test.dart.js
app/spark_test.dart.precompiled.js
build/
dist/
docs/
