*.swo
*.swp
.settings/
app/app.json
app/spark.dart.js
app/spark.dart.precompiled.js
app/spark_polymer.dart.js
app/spark_polymer.dart.precompiled.js
app/spark_test.dart.js
app/spark_test.dart.precompiled.js
build/
dist/
docs/
