##
## This file is the suggested default .gitignore to be used by cca applications
##

# Usually, you shouldn't version control `platforms/` and `plugins/`. They are
# build artefacts which change from machine to machine and over time.
# If you are manually making edits in these folders, proceed with caution.
platforms/
plugins/

# Other cca artefacts.
cca
cca.cmd
