.splitview-horizontal {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.splitview-vertical {
  display: flex;
  flex: 1;
  flex-flow: row;
}

.splitter {
  background-color: #ddd;
  position: relative;
}

.splitview-horizontal > .splitter {
  height: 1px;
}

.splitview-vertical > .splitter {
  width: 1px;
}

.splitter-handle {
  position: absolute;
  z-index: 100;
}

.splitview-vertical > .splitter > .splitter-handle {
  cursor: ew-resize;
}

.splitview-horizontal > .splitter > .splitter-handle {
  cursor: ns-resize;
}
