.tabview-container {
  background: #EEE;
  bottom: 0;
  display: flex;
  flex-flow: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


.tabview-tabbar {
  background: white;
  border-bottom: 1px solid #CCC;
  display: flex;
  margin-bottom: 3px;
  overflow: visible;
  position: relative;
  -webkit-user-select: none;
}

.tabview-tabbar-scroller {
  flex: 1;
  margin: -1px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.tabview-tabbar-scrollable {
  display: block;
  min-height: 25px;
  overflow: visible;
  position: relative;
  white-space: nowrap;
}

.tabview-tablabel {
  align-items: center;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-size: 85%;
  margin-top: 4px;
  margin-right: 4px;
  padding: 2px 10px 2px 10px;
  -webkit-user-select: none;
  vertical-align: bottom;
  z-index: 100;
}

.tabview-tablabel:first-child {
  margin-left: 15px;
}

.tabview-tablabel:last-child {
  margin-right: 15px;
}

.tabview-tablabel-active {
  background: -webkit-linear-gradient(bottom, #EEE, white);
  border: 1px solid #CCC;
  border-bottom: 1px solid white;
  margin-top: 5px;
  margin-bottom: -1px;
  padding-bottom: 1px;
  position: relative;
}

.tabview-tablabel:hover .tabview-tablabel-caption {
  text-decoration: underline;
}

.tabview-tablabel-caption {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabview-tablabel-closebutton {
  color: white;
  display: none;
  margin-left: 6px;
  margin-right: -2px;
  margin-top: -1px;
  opacity: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tabview-tablabel-closable .tabview-tablabel-closebutton {
  display: block;
}
.tabview-tablabel-active .tabview-tablabel-closebutton {
  opacity: 1;
}

.tabview-tablabel:hover .tabview-tablabel-closebutton {
  opacity: 1;
}

.tabview-tablabel-closebutton:hover {
  color: #960;
}

.tabview-workspace {
  background: white;
  border-top: 1px solid #CCC;
  display: flex;
  flex: 1;
  position: relative;
}

.tabview-tabcomponent {
  flex: 1;
  display: none;
}

.tabview-tabcomponent-active {
  display: block;
}
