<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>_project_name_</title>
    <link rel="stylesheet" href="_source_name_.css">
  </head>
  <body>
    <h1>_project_name_</h1>

    <p>Hello world from Dart!</p>

    <div id='container_id'>
      <p id='text_id'>Click me!</p>
    </div>

    <script src="packages/browser/interop.js"></script>
    <script src="packages/chrome/bootstrap.js" defer></script>

    <script src="_source_name_.dart" type="application/dart"></script>    
  </body>
</html>
